                    body {
                        background-image: linear-gradient(rgb(237, 222, 241), rgb(185, 140, 196));
                        background-repeat: no-repeat;
                    }
                    
                    a {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                    }
                    
                    a:hover {
                        color: rgb(204, 0, 255);
                    }
                    
                    .head {
                        font-family: 'Montserrat Alternates', sans-serif;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    
                    .basket {
                        background-color: rgb(255, 255, 255);
                        border: 1px solid rgb(189, 137, 176);
                        color: rgb(189, 137, 176);
                        font-size: 17px;
                        border-radius: 15px;
                        width: 100px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
                    
                    .contact {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-size: 20px;
                        color: rgb(189, 137, 176);
                    }
                    
                    .menu {
                        text-align: center;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-size: 30px;
                        background-color: rgb(189, 137, 176);
                        border-radius: 5px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                    
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: rgb(189, 137, 176);
                        min-width: 160px;
                        z-index: 1;
                        opacity: 0.6;
                    }
                    
                    .dropdown-content a {
                        color: rgb(255, 255, 255);
                        padding: 12px 16px;
                        display: block;
                        font-size: 25px;
                    }
                    
                    .dropdown-content a:hover {
                        background-color: rgb(163, 163, 163);
                    }
                    
                    .dropdown:hover .dropdown-content {
                        display: block;
                    }
                    
                    .first-section {
                        background-image: url(./photo/background.jpg);
                        background-size: cover;
                        opacity: 0.5;
                        background-repeat: no-repeat;
                        text-align: center;
                        height: 500px;
                        font-family: 'Marck Script', cursive;
                        color: rgb(100, 0, 87);
                    }
                    
                    .first-section-content {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        flex-direction: column;
                    }
                    
                    .first-section-header {
                        font-size: 80px;
                    }
                    
                    .second-section {
                        background-size: cover;
                        text-align: center;
                        max-width: 100%;
                        height: 700px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    
                    .img-versel {
                        background-size: cover;
                        margin-top: 100px;
                    }
                    
                    .paragraph1 {
                        width: 500px;
                        background-size: cover;
                        font-family: 'Marck Script', cursive;
                        font-size: 35px;
                        margin-top: 25px;
                        color: rgb(255, 255, 255);
                    }
                    
                    .top {
                        position: fixed;
                        width: 50px;
                        height: 50px;
                        right: 0;
                        bottom: 30px;
                        color: rgb(100, 0, 87);
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                    footer {
                        background-color: rgb(255, 255, 255);
                        color: rgb(189, 137, 176);
                        background-size: cover;
                        text-align: center;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-size: 17px;
                        border-radius: 5px;
                        font-family: 'Montserrat Alternates', sans-serif;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-wrap: wrap;
                    }